name: build

on:
  pull_request:
    branches:
      - master
      - release-*
  push:
    branches:
      - 'master'
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+*'

permissions:
  contents: write

jobs:
  build:
    runs-on: [self-hosted, nebula-fast]
    container:
      image: reg.vesoft-inc.com/ci/ubuntu:20.04-docker
      volumes:
        - /var/run/docker.sock:/var/run/docker.sock
    env:
      GOPROXY: ${{ vars.GOPROXY }}
    steps:
      - uses: webiny/action-post-run@2.0.1
        with:
          run: sh -c "find . -mindepth 1 -delete"
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v4
        with:
          go-version: 1.21
      - run: |
            go env -w GOFLAGS=-buildvcs=false
            git config --global --add safe.directory $(pwd)
      - run: |
            curl -L "https://github.com/docker/compose/releases/download/1.29.2/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
            chmod +x /usr/local/bin/docker-compose
      - run: make lint
      - run: make test
      - run: make test-it # integration-testing
      - uses: codecov/codecov-action@v2
      - uses: docker/login-action@v1
        if: success() && startsWith(github.ref, 'refs/tags/')
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - uses: goreleaser/goreleaser-action@v2
        if: success() && startsWith(github.ref, 'refs/tags/')
        with:
          version: "~> 1.21"
          distribution: goreleaser
          args: release --clean
        env:
          GORELEASER_CURRENT_TAG: ${{ github.ref_name }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCKER_IMAGE_REPO: vesoft/
